/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  background-color: hsl(204, 86%, 53%);
  color: #fff;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 0.5rem;
}

a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

.button {
  background-color: hsl(204, 86%, 53%);
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.flash-message {
  font-size: 1.5rem;
  background-color: hsl(141, 53%, 53%);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(171, 100%, 41%);
  min-height: 3.25rem;
  width: 100%;
  margin-bottom: 2rem;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  width: 100%;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  text-align: center;
}

.title p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
  text-align: center;
}

.img-welcome {
  width: 800px;
  height: auto;
  object-fit: cover;
  max-width: 80%;
  border-radius: 4px;
}

.add-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-bx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}